.head0 {
    width: 100%;
    height:100%;
    border-radius: 5px;
    position: center;
    background-color: rgba(106, 150, 190, 0.493);
}
    
.main1 {
    width: 40%;
    height:220px;
    border-radius: 5px;
    background-color: rgb(53, 112, 146)
   
  }

.contenu {
    margin-top: px;
    width: 100%;
    height:700px;
    border-radius: 5px;
    position: center;
    background-color: rgba(193, 197, 175, 0.925);
 
}


.article {
    width: 700px;
    height: 700px;
    border-radius: 5px;
    position: left;
    background-color: rgb(221, 177, 177)
}
.category {
    height: 100px;
    border-radius: 5px;
    position: center;
    background-color: rgb(172, 81, 81)
}
.show1 {
    width: 330px;
    height: 330px;
    border-radius: 5px;
   /* margin: 0.2px;*/
    position: right;
    transform: translate(470% ,-210%);
    background-color: rgb(104, 150, 151)
    
}
.model1 {
    width: 330px;
    height: 330px;
    border-radius: 5px;
   /* margin: 0.2px;*/
    position: right;
    transform: translate(350% ,-310%);
    background-color: rgb(83, 144, 145)
    /*background-image: url("paper.gif");*/
}
.model2 {
    width: 330px;
    height: 330px;
    border-radius: 5px;
   /* margin: 0.2px;*/
    position: right;
    transform: translate(230% ,-410%);
    background-image: url(pic/pic5.jpg);
    background-size: 100%;
}
.model3 {
    width: 330px;
    height: 330px;
    border-radius: 5px;
   /* margin: 0.2px;*/
    position: right;
    transform: translate(230% ,-405%);
    background-image: url(pic/pic6.jpg);
    background-size: 100%;
}
.model4 {
    width: 330px;
    height: 330px;
    border-radius: 5px;
   /* margin: 0.2px;*/
    position: right;
    transform: translate(350% ,-505%);
    background-image: url(pic/pic7.jpg);
    background-size: 100%;
}
.model5 {
    width: 330px;
    height: 330px;
    border-radius: 5px;
   /* margin: 0.2px;*/
    position: right;
    transform: translate(470% ,-605%);
    background-image: url(pic/pic8.jpg);
    background-size: 100%;
}
.center {
   
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   
    
}
.pic-show1 {
    width: 330px;
    height: 330px;
    background-image: url(pic/pic1.jpg);
}
.pic-contenue {
    width: 700px;
    height: 700px;
    background-image: url(pic/pic2.jpg);
    background-size: 100%;

}
.pic-contenue:hover {
   
    background-size: 200%;
  

}
.pic-main1{
    width: 755px;
    height: 220px;
    background-image: url(pic/pic1.jpg);
    background-size: 100%;

}
.pic-main1:hover{
   
    background-size: 110%;

}
.logo{
   
    background-image: url(pic/pic3.jpg);
    background-size: 100%;

}
.model1-show1 {
    width: 330px;
    height: 330px;
    background-image: url(pic/pic4.jpg);
    background-size: 100%;

}
.model1-show1:hover {
  
    background-size: 125%;

}